<!-- Modal HTML -->
<div id="resetPassModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_for :user, url: reset_password_users_path do |f| %>
        <div class="modal-header">
          <h4 class="modal-title">Reset Password</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>Email</label>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="btn btn-primary pull-right" value="Reset">
        </div>
      <% end %>
    </div>
  </div>
</div>